.project-details .container {
    margin: 80px auto;
}

.project-details .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 75px;
    justify-content: center;
}

.project-details img {
    width: 250px;
    height: auto;
    object-fit: contain;
    display: block;
    margin-left: auto;
}

.project-details .subtitle {
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.project-details .section-icons {
    margin-top: 40px;
}

@media screen and (max-width: 1000px) {
    .project-details .wrapper {
        gap: 25px;
    }

    .project-details img {
        width: 200px;
    }
}

@media screen and (max-width: 750px) {
    .project-details .wrapper {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .project-details img {
        display: none
    }
}


.project-details .gallery-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .project-details .gallery img {
        display: block;
        width: 120px;
        margin-left: 0;
    }

    .project-details .gallery .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-details .gallery .section-heading {
        align-items: start;
    }
}
